:root {
    --red: rgb(243,	28,	29);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
}

header {
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--red);
    color: white;
    height: 20%;
    box-shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    border: black 1em solid;
}

main {
    display: grid;
    grid-template-rows: 5fr 1fr;
}

.results-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.return-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

button {
    font-size: 1.2em;
    background-color: var(--red);
    color: white;
    width: 6em;
    height: 2.5em;
    border-radius: 10px;
    border: none;
}
