/* add home page styles here */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

header {
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    height: 20%;
    box-shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);;
}

main {
    display: grid;
    grid-template-rows: 5fr 1fr;
    height: 80%;
}

.main-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

img {
    width: 10em;
    height: 10em;
    background-color: black;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

input[type=radio]{
    visibility: hidden;
}

input:checked + img {
    border: 10px solid red;
}

.btn-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    font-size: 1.2em;
    background-color: red;
    color: white;
    width: 6em;
    height: 2.5em;
}
